<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="navigation/mainNav.html"></div>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
<div class="container ">
    <div class="grid grid-cols-6 mt-3 gap-3 ">
        <div class="col-span-2 "><img src="https://i.ytimg.com/vi/D9bjL8udt2s/maxresdefault.jpg" class="h-96"></div>
        <div class="col-span-3 h-96">
            <h2 class="text-teal-500">Shadowgraphy</h2>
            <p class="break-all">When was Shadowgraphy invented?
                18th Century
                Shadowgraphy (or Ombromanie) is the art of using hands to form figures onto a screen using shadows. It
                can be traced back to 18th Century, although the idea is probably much older. Shadow puppets of
                Indonesia were being performed around 850 AD and in China during the Tang Dynasty (618 - 907).</p>
            <p class="break-all">Shadowgraph is an optical method that reveals non-uniformities in transparent media
                like air, water, or glass. It is related to, but simpler than, the schlieren and schlieren photography
                methods that perform a similar function. Shadowgraph is a type of flow visualisation.</p>

        </div>
        <div class="col-span-1">
            <div class="grid grid-rows-4">
                <div class="grid"></div>
                <div class="grid">
                    <div class="col-span-1 text-end">
                        <h2 class="font-bold text-teal-500">Contact details</h2>
                        <div class="text-white">Address : Tirupathi</div>
                        <div class="text-white">Number :5746545454</div>
                        <div class="text-white">Mail : abc@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>