<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="navigation/mainNav.html"></div>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body class="">
<div class="mt-2 ">
    <center>
        <h2 class="display-3 text-teal-500">Welcome to Photography Website</h2>
        <img src="https://okcredit-blog-images-prod.storage.googleapis.com/2021/02/photostudio2.jpg">
    </center>
</div>
</body>
</html>