<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
   .body{
  background-image: url('https://okcredit-blog-images-prod.storage.googleapis.com/2021/02/photostudio2.jpg');
}

    </style>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User</title>
</head>
<body>
<div class="container mx-auto rounded-lg ">
    <nav class=" rounded-full flex items-center justify-between flex-wrap bg-teal-500 p-6 mt-3 ">
        <div class="flex items-center flex-shrink-0 text-white mr-6  ">
            <span class="font-semibold text-xxl tracking-tight text-3xl ">PHOTOGRAPHY</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-end lg:w-auto justify-end ">
            <ul class="flex">
                <div class="text-sm lg:flex-grow">
                    <a href="/about" class="block text-lg lg:inline-block no-underline text-teal-200 hover:text-white">
                        About Us
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="text-sm lg:flex-grow">
                    <a href="/adminLogin"
                       class="block text-lg lg:inline-block  no-underline text-teal-200 hover:text-white">
                        Admin
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;
                <div class="text-sm lg:flex-grow">
                    <a href="/userLogin"
                       class="block text-lg lg:inline-block no-underline text-teal-200 hover:text-white">
                        User
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="text-sm lg:flex-grow">
                    <a href="/photographerLogin"
                       class="block text-lg lg:inline-block no-underline text-teal-200 hover:text-white">
                        Photographer
                    </a>
                </div>
                &nbsp;
                &nbsp;

                <div class="text-sm lg:flex-grow">
                    <a href="/album" class="block text-lg lg:inline-block no-underline text-teal-200 hover:text-white">
                        Album
                    </a>
                </div>
                &nbsp;
                &nbsp;
                <div class="text-sm lg:flex-grow">
                    <a href="/rentals"
                       class="block text-lg lg:inline-block no-underline text-teal-200 hover:text-white">
                        Rental
                    </a>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>